.table__text_theme_dark {
   line-height: 1.2;
   font-size: 18px;
   font-weight: normal;
   margin-bottom: 0;
   width: 200px;
   margin-right: 0;
   margin-top: 20px;
 }
 
 .table__text_theme_dark:last-child {
   margin-bottom: 0;
 }